@page "{id}/{strapline?}"
@model MainlineUK.Pages.Stock.DetailsModel
@using Humanizer;

@{
    ViewData["Title"] = "Details";
}

@functions{
    public string GetPreviousOwners(int? numOwners)
    {
        string displayOwners = numOwners.ToString();

        if (displayOwners == "")
        {
            displayOwners = "Unknown";
        }

        return displayOwners;
    }
}

<h2>Details</h2>

<div id="VehicleInformation" class="VehicleDetails">
    <div class="container">
        <div class="row">
            <div class="col-md-4 align-self-end">
                @{int photoNum = 1;}
                @foreach (var photo in Model.StocklistImport.Photo)
                {
                    if (photoNum == 1)
                    {
                        <a id="PreviewImage" class="PreviewImage" href="~/stockdata/images/@Html.DisplayFor(model => model.StocklistImport.StocklistImportID)/@(photo.PhotoID + ".jpg")" data-toggle="lightboxOpen">
                            <img src="/stockdata/images/@Html.DisplayFor(model => model.StocklistImport.StocklistImportID)/@(photo.PhotoID + ".jpg")"
                                 alt="Image of @Html.DisplayFor(model => model.StocklistImport.Make) @Html.DisplayFor(model => model.StocklistImport.Model) @Html.DisplayFor(model => model.StocklistImport.Derivative) (@Html.DisplayFor(model => model.StocklistImport.ManufacturedYear))"
                                 class="img-fluid img-thumbnail" />
                        </a>
                    }

                    photoNum += 1;
                }
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-lg-9">
                        <h2>@Html.DisplayFor(model => model.StocklistImport.Make) @Html.DisplayFor(model => model.StocklistImport.Model)</h2>
                    </div>
                    <div class="col-lg-3 text-right Price">
                        <span>@Html.DisplayFor(model => model.StocklistImport.Price)</span>
                    </div>
                    <div class="col-lg">
                        <h3>@Html.DisplayFor(model => model.StocklistImport.Derivative) (@Html.DisplayFor(model => model.StocklistImport.ManufacturedYear))</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        @Model.StocklistImport.AttentionGrabber.Transform(To.LowerCase).Transform(To.TitleCase)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div class="alert alert-secondary" role="alert">
                            <div class="row">
                                <div class="col-md-3 col-sm-4 col-6">
                                    <i class="fas fa-cogs"></i> @Html.DisplayFor(model => model.StocklistImport.Transmission)
                                </div>
                                <div class="col-md-3 col-sm-4 col-6">
                                    <i class="fas fa-tachometer-alt"></i> @Html.DisplayFor(model => model.StocklistImport.Mileage)@Html.DisplayFor(model => model.StocklistImport.MileageUnit)
                                </div>
                                <div class="col-md-3 col-sm-4 col-6">
                                    <i class="fas fa-palette"></i> @Html.DisplayFor(model => model.StocklistImport.Colour)
                                </div>
                                <div class="col-md-3 col-sm-4 col-6">
                                    <i class="fas fa-gas-pump"></i> @Html.DisplayFor(model => model.StocklistImport.FuelType)
                                </div>
                                <div class="col-md-3 col-sm-4 col-6">
                                    <i class="fas fa-tools"></i> @Html.DisplayFor(model => model.StocklistImport.EngineSize)@Html.DisplayFor(model => model.StocklistImport.EngineSizeUnit)
                                </div>
                                <div class="col-md-3 col-sm-4 col-6">
                                    <i class="fas fa-door-closed"></i> @Html.DisplayFor(model => model.StocklistImport.Doors)
                                </div>
                                <div class="col-md-6 col-sm-8 col-12">
                                    <i class="fas fa-users"></i> @GetPreviousOwners(Model.StocklistImport.PreviousOwners)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="Divider" />
        <div class="row">

            @{int photoNum2 = 1;}
            @{string galleryItemID = "";}
            @foreach (var photo in Model.StocklistImport.Photo)
            {
                @if(photoNum2 == 1)
                {
                    galleryItemID = "FirstGalleryItem";
                }
                else
                {
                    galleryItemID = "";
                }

                <a id="@galleryItemID" href="~/stockdata/images/@Html.DisplayFor(model => model.StocklistImport.StocklistImportID)/@(photo.PhotoID + ".jpg")" data-toggle="lightbox" data-gallery="VehicleGallery" class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6" data-title="@Html.DisplayFor(model => model.StocklistImport.Make) @Html.DisplayFor(model => model.StocklistImport.Model) @Html.DisplayFor(model => model.StocklistImport.Derivative) (@Html.DisplayFor(model => model.StocklistImport.ManufacturedYear))" data-footer="Mainline UK">
                    <img src="~/stockdata/images/@Html.DisplayFor(model => model.StocklistImport.StocklistImportID)/@(photo.PhotoID + ".jpg")"
                         alt="Image of @Html.DisplayFor(model => model.StocklistImport.Make) @Html.DisplayFor(model => model.StocklistImport.Model) @Html.DisplayFor(model => model.StocklistImport.Derivative) (@Html.DisplayFor(model => model.StocklistImport.ManufacturedYear))"
                         class="img-fluid img-thumbnail" />
                </a>

                photoNum2 += 1;
            }

        </div>
        <hr class="Divider" />
        <div class="row">
            <div class="col-md">
                @Model.StocklistImport.AdvertDescription1.Transform(To.LowerCase).Transform(To.TitleCase)
            </div>
        </div>
    </div>
</div>
@*<div>
    <a asp-page="./Edit" asp-route-id="@Model.StocklistImport.StocklistImportID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>*@
